<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>


<body>
    <!-- NAVBAR implementao desde fragmento -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container page-content">
        <h1>Servicios</h1>

        <p>
            Descubre los servicios exclusivos que Polaris ofrece para brindar una experiencia premium a cada huésped.
        </p>

        <div style="margin: 20px 0;">
            <a class="btn" th:href="@{/servicios/cards}">
                Ver en formato tarjetas
            </a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Información</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="servicio : ${servicios}">
                    <td th:text="${servicio.nombre}"></td>
                    <td th:text="${'$' + #numbers.formatDecimal(servicio.precio, 0, 'POINT', 0, 'COMMA')}"></td>
                    <td>
                        <a class="btn" th:href="@{'/servicios/' + ${servicio.id}}">
                            Ver Detalles
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- FOOTER implementao desde fragmento -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>