<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalle Servicio</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>


<body>
    <!-- NAVBAR que ahora implementamos desde fragmento -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container page-content">
        <div class="detalle">
            <h1 th:text="${servicio.nombre}"></h1>
            <img th:src="${servicio.imagenUrl}">
            <p th:text="${servicio.descripcion}"></p>
            <p class="detalle-precio" th:text="${servicio.precio}"></p>
        </div>
    </div>

    <!-- FOOTER que ahora implementamos desde fragmento -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>